.father {
	width: 300px;
	background-color: #f0f3f9;
}

.son {
	width: 200px;
	height: 120px;
	margin-right: auto;
	margin-left: auto;
	background-color: #cd0000;
}

.father1 {
	width: 300px; height: 150px;
    background-color: #f0f3f9;
    position:relative;
}

.son1 {
	position: absolute; 
    top: 0; right: 0; bottom: 0; left: 0;
    width: 200px; 
    height: 100px;
    background-color: #cd0000;
    margin: auto;
}

.father2 {
	position: relative;
	width: 300px; height: 150px;
	background-color: blueviolet;
}

.son2 {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	width: 200px; height: 100px;
	margin: auto;
	background-color: brown;
}