
ul > li:first-child {
    /* height: 40px; */
    background-color: orange;
    
}

ul > li:last-child {
    /* height: 60px; */
    background-color: orchid;
}


.align-items ul {
    height: 100px;
    border: 1px solid #000;
}
.align-items ul li {
    margin-bottom: 0;
}

.align-items ul:first-of-type {
    align-items: flex-start;
}

.align-items ul:nth-of-type(2) {
    align-items: flex-end;
}


.align-items ul:nth-of-type(3) {
    align-items: center;
}


/*  (default): stretch to fill the container (still respect min-width/max-width) */
.align-items ul:nth-of-type(4) {
    align-items: stretch;
}

.align-items ul:last-of-type {
    align-items: baseline;
}