
ul > li:first-child {
    width: 40px;
    background-color: orange;
    
}

ul > li:last-child {
    width: 100px;
    background-color: orchid;
}

/* the value is flex-start(default value) */
.justify-content ul:first-of-type {
    justify-content: flex-start;
}

.justify-content ul:nth-of-type(2) {
    justify-content: flex-end;
}

.justify-content ul:nth-of-type(3) {
    justify-content: center;
}


/* items are evenly distributed in the line; first item is on the start line, last item on the end line */
.justify-content ul:nth-of-type(4) {
    justify-content: space-between;
}

/* items are evenly distributed in the line with equal space around them. 
 * Note that visually the spaces aren't equal, since all the items have equal space on both sides.
 * The first item will have one unit of space against the container edge,
 * but two units of space between the next item because that next item has its own spacing that applies. */
.justify-content ul:nth-of-type(5) {
    justify-content: space-around;
}


/* items are distributed so that the spacing between any two items (and the space to the edges) is equal */
.justify-content ul:last-of-type {
    justify-content: space-evenly;
}

